:root {
  --docsify-example-panels-left-panel-width : 50%;
  --docsify-example-panels-right-panel-width : 50%;
  --base-font-size: 16px;
  --link-color: #177013;
}

@media screen and (min-width: 1230px) {
  :root {
    --sidebar-width: 22rem;
    --content-max-width : 66em;
  }
}
