@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --docsify-example-panels-left-panel-width : 50%;
  --docsify-example-panels-right-panel-width : 50%;
}

@media screen and (min-width: 1230px) {
  :root {
    --sidebar-width: 22rem;
    --content-max-width : 66em;
  }
}
